<h2>Available drones</h2>

{{#each allDrones}}

<ul>
<li>
{{this.name}}
<br>
{{this.propellers}}
<br>
{{this.maxSpeed}}  
</li>
<a href="/drones/{{this._id}}/edit">Detalles</a>
<form method="POST" action="/drones/{{this.id}}/delete">
    <button type="submit">Eliminar drone</button>
</form>
</ul>   

{{/each}}